body{
	font-family: Arial;
	margin: 8px;
	display: block;
    font-size: 1.0em;
    margin-left: 3em;
    margin-right: 3em;
}

table, td, th{
	border:  1px solid black;
	border-collapse: collapse;
}

th{
	font-weight: inherit;
	text-align: left;
	padding: .3em;
}

td{
	padding: .3em;
	text-align: center;
}

ul{
	margin: 0;
	padding-bottom: .5em;
}

h1{
	color: darkblue;
}

.name{
	font-size: 2.5em;
	margin: 0;
}

div{
	display: inline-block;
}

.personal_info_h4{
	color:  darkblue;
	padding: 0;
	margin: 0;
}

.personal_info{
	width: 25%;
	margin: 0;
	padding: 0;
	float: left;
}

.personal_info_p{
	padding: 0;
	margin: 0;
}

.cube{
	display: block;
	border-bottom-style: solid;
	border-color: darkblue;
	border-width: 1px;
	margin: 0;
	padding: 0;
	margin-bottom: .5em;
}

.main_body{
	width: 70%;
	margin: 0;
	margin-bottom: 0.3em;
	background: lightgray;
	border-style: solid;
	border-color: darkblue;
	border-width: 1px;
	padding: 0;
	float: right;
	padding-left: 1em;
	padding-right: 1em;
}

.main_body_h4{
	color: white;
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: .9em;
	font-weight: inherit;
	background: teal;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: .1em;
	border-style: solid;
	border-width: .1em;
	border-color: teal;
	padding-left: .5em;
}

.main_body_titles{
	padding: 0;
	margin: 0;
}

.sites_google{
	font-size: 1.3em;
	margin:  auto;
	display: block;
	width: 80%;
	padding-bottom: 5%;
}

.sites_google_h1{
	color: black;
	text-align: center;
	font-family: open sans;
	font-weight: bold;
	border: 0;
	border-bottom: .5em;
	border-color: red;
	border-style: solid;
}

.sites_google_h3{
	color: indianred;
}

.sites_google_important_p{
	background-size: cover;
	display: table;
	position: relative;
	table-layout: fixed;
	width: 100%;
	background: red;
	color: white;
	padding: 2em;
	font-weight: bold;

}

.sites_google_link:link{
	color: black;
	text-decoration: underline;
}

.sites_google_link:visited{
	color: black;
	text-decoration: underline;
}

.main_body_links:link{
	color: darkblue;
	text-decoration: none;
	font-weight: bold;
}

.main_body_links:visited{
	color: darkblue;
	text-decoration: none;
	font-weight: bold;
}

.main_body_links:hover{
	color: black;
	background-color: yellow;
	text-decoration: underline;
}